                  <div  class="fullwidth" >
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1491610636499 overlay-wapper">
                      <div id="overlay-59026aa0cfdfb" class="overlay"  data-overlay_color= rgba(0,0,0,0)></div>
                      <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                        <div class="vc_column-inner ">
                          <div class="wpb_wrapper">
                            <h3 style="font-size: 77px;color: #0c0c0c;text-align: center;font-family:Open Sans;font-weight:600;font-style:normal" class="vc_custom_heading">За кадром</h3>
                            <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible g5plus-css-animation wpb_fadeInLeft" >
                              <div class="wpb_wrapper">
                                <p style="color: rgba(20,20,20,1); font-size: 22px; line-height: 25px; font-family: Roboto; font-style: regular; font-weight: 400; text-align: justify; margin-right: 30px; margin-left: 30px;">Сейчас на рынке много копий, они имеют встроенный аккумулятор маленькой емкости 400 мАч и не надежен, небольшое количество светодиодов. Батареи сменные, их можно заменить в любой момент, время работы на батареях дольше. Увеличенное количество светодиодов — 36 штук в нашей подсветке. Кольцевая светодиодная лампа – ключ к успеху, как для любителей, так и для профессионалов.</p>
                                <p style="color: rgba(20,20,20,1); font-size: 22px; line-height: 25px; font-family: Roboto; font-style: regular; font-weight: 400; text-align: justify; margin-right: 30px; margin-left: 30px;">Девушки обязательно оценят такой подарок, а эффектные снимки станут украшением любого профиля. Порадуйте любимых!</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                        <div class="vc_column-inner ">
                          <div class="wpb_wrapper">
                            <div class="vc_empty_space"  style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
                            <div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-center">
                              <div class="wpb_wrapper">
                                <div class="wpb_video_wrapper"><iframe width="500" height="375" src="https://www.youtube.com/embed/XzERfVlWtE4?feature=oembed" frameborder="0" allowfullscreen></iframe></div>
                              </div>
                            </div>
                            <div class="vc_empty_space"  style="height: 15px" ><span class="vc_empty_space_inner"></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>