                  <div  class="fullwidth" >
                    <div class="vc_row wpb_row vc_row-fluid">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                          <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                              <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                  <div class="wpb_wrapper">
                                    <div class="vc_empty_space"  style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
                                    <h4 style="font-size: 77px;color: #0c0c0c;text-align: center;font-family:Open Sans;font-weight:600;font-style:normal" class="vc_custom_heading">Удобно &amp; Практично</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="vc_empty_space"  style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>