{% load static %}
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static "track1/images/track1/big-128-1.jpg" %}" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Большое путешествие 128 деталей</h2>
                        <P>Гибкий трек Большое путешествие состоит из 128 деталей. Этот набор будет нтересен не только детям, но и взрослым. Построив дорогу из отдельных форгментов и добавив туда лифт, расставив пальмы, вы и ваши дети поистине насладитесь тем, как машика будет бегать по этой дороге. Один только подъем машинки на лифте способен приковать ваше внимание на несколько часов. Дети же будут просто в восторге!</P>
                        <p>В наборе 128 деталей:</p>
                        <ul class="elements">
                            <li><i class="fa fa-angle-right"></i>гибкие элементы дороги</li>
                            <li><i class="fa fa-angle-right"></i>лифт</li>
                            <li><i class="fa fa-angle-right"></i>опора моста</li>
                            <li><i class="fa fa-angle-right"></i>4 пальмы</li>
                            <li><i class="fa fa-angle-right"></i>и конечно машинка, которая ездит сам</li>
                        </ul>
                        <a href="/offer-1.html" class="btn btn-common" data-referer-button="4">Купить этот набор</a>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Пожарная станция 113 деталей</h2>
                        <p>В наборе Пожарная станция не много деталей, всего 113. Но он не менее интересн, так как у него специфическая тематика. Ведь тушение пожаров – это дело благородное. Вместо лифта тут горка, по которой машинка будет подниматься наверх, а затем сама разворачиваться и спускаться вниз. Так же в комплекте есть мост, который задает динамику движения машинки. И стрелка для смены направления движения. Вашим детям будет очень интересно играть в тушение пожаров и наблюдать за перемещением машинки.</p>
                        <p style="text-align: left">В наборе 113 деталей:</p>
                        <ul class="elements"  style="margin-left: 50px;">
                            <li style="text-align: left"><i class="fa fa-angle-right"></i>гибкие элементы дороги</li>
                            <li style="text-align: left"><i class="fa fa-angle-right"></i>подъём с разворотом</li>
                            <li style="text-align: left"><i class="fa fa-angle-right"></i>мост</li>
                            <li style="text-align: left"><i class="fa fa-angle-right"></i>дорожные знаки</li>
                            <li style="text-align: left"><i class="fa fa-angle-right"></i>стрелка</li>
                            <li style="text-align: left"><i class="fa fa-angle-right"></i>и конечно машинка, которая ездит сам</li>
                        </ul>

                        <a href="/offer-2.html" class="btn btn-common" data-referer-button="5">Купить этот набор</a>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static "track1/images/track1/fire-113.jpg" %}" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static "track1/images/track1/big-317-1.jpg" %}" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Большое путешествие 317 деталей</h2>
                        <P>Гибкий трек Большое путешествие состоит из 317 деталей! Этот набор значительно интереснее, чем набор из 128 деталей. Несмотря на то, что он стоит немного дороже, построив дорогу из форгментов этого набора, вы сможете не просто наблюдать за машинками, но и принимать участие в распределении трафика. Ведь в нем кроме супер лифта есть еще перекресток и стрелка. Благодаря этим элементам вы "залипните" не на один час, а на несколько дней. Дети же будут просить построить дорогу каждый день!</P>
                        <p>В наборе 317 деталей:</p>
                        <ul class="elements">
                            <li><i class="fa fa-angle-right"></i>гибкие элементы дороги</li>
                            <li><i class="fa fa-angle-right"></i>лифт</li>
                            <li><i class="fa fa-angle-right"></i>опора моста</li>
                            <li><i class="fa fa-angle-right"></i>пальмы и знаки</li>
                            <li><i class="fa fa-angle-right"></i>перекресток</li>
                            <li><i class="fa fa-angle-right"></i>стрелка для смены направления движения</li>
                            <li><i class="fa fa-angle-right"></i>и 2 машинки, которые ездит сами</li>
                        </ul>
                        <a href="/offer-3.html" class="btn btn-common" data-referer-button="6">Купить этот набор</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--/#features-->