{% extends 'ramsay-yokofit/wrapper.html' %}

{% block menu %}
{% endblock %}

{% block content %}

    <div class="content">
      <div class="container">
        <div class="row row-project">
          <div class="col-project-name col-md-6  mt-5 mb-5 mb-md-0">
            <h1>Коврики из TPE</h1>
            <!--div class="social-list social-list-detail">
              <a href="" class="icon ion-social-twitter"></a>
              <a href="" class="icon ion-social-facebook"></a>
              <a href="" class="icon ion-social-googleplus"></a>
              <a href="" class="icon ion-social-linkedin"></a>
              <a href="" class="icon ion-social-dribbble-outline"></a>
            </div-->
          </div>
          <div class="col-project-info col-md-6">
            <div class="row">
              <div class="col-md-6 mt-5">
                <h5>TPE</h5>
                <p>Экологически чистый гипоалергенный материал</p>
              </div>
              <div class="col-md-6 mt-5">
                <h5>Двухслойный</h5>
                <p>Оба слоя рабочие<br>
                   имеют разный рисунок
                </p>
              </div>
              <div class="col-md-6 mt-5">
                <h5>Толщина 6 мм</h5>
                <p>Этого достоточно для большинства занятий</p>
              </div>
              <div class="col-md-6 mt-5">
                <h5>Легкий</h5>
                <p>Весит всего 800 грамм</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--img alt="" class="image-holder wow fadeIn" src="/static/ramsay-yokofit/images/bg/project3.jpg"-->
      <div class="container">
        <p class="project-detail-text text-justify">Термопластичный эластомер (TPE) - это пожалуй один из лучших недорогих материалов, который используется для изготовления ковриков для йоги и фитнеса на сегодняшний день. Благодаря своей плотной пористой конструкции он является в меру мягким и одновременно достаточно упругим. Он легкий и при этом очень прочный. Его можно мыть. А значит вы сможете заниматься с этим ковриком не только в помещении, но и на улице. TPE является экологически чистым гипоалергенным материалом и не имеет запаха.</a>
        </p>
        <p class="project-detail-text text-center">Размеры коврика 183 на 61 см. Толщина 6 мм.</p>
        <p class="project-detail-text text-center">На коврик нанесена удобная разметка. Она поможет принимать правильную позу в различных упражнениях и асанах.</p>
        <img alt="" class="image-holder wow fadeInRight" src="/static/ramsay-yokofit/images/yokofit/bg/tpe-4.jpg">
        <p class="project-detail-text text-center">Коврик YOKOFIT из термопластичного эластомера очень прочный и практически не тянется.</p>
        <img alt="" class="image-holder wow fadeInRight" src="/static/ramsay-yokofit/images/yokofit/bg/tpe-2.jpg">
        <p class="project-detail-text text-center">В меру мягкий и при этом упругий, что позвоялет достичь оптимального комфорта при занятиях.</p>
        <img alt="" class="image-holder wow fadeInRight" src="/static/ramsay-yokofit/images/yokofit/bg/tpe-3.jpg">
        <h3>Выберите ваш цвет</h3>
        <p class="project-detail-text text-center">Зеленый с черным</p>

        <img alt="" class="image-holder wow fadeInRight" src="/static/ramsay-yokofit/images/yokofit/bg/tpe-4.jpg">
        <!--p class="project-detail-text text-center">
            <a href="#?partner=yokofit&from=yokofit" class="btn btn-ozon">Купить на Ozon</a>
            <a href="#?partner=yokofit&from=yokofit" class="btn btn-wb">Купить на Wildberries</a>
        </p-->

       </div>
      </div>
    </div>
{% endblock %}