{% extends 'ramsay-yokofit/wrapper.html' %}

{% block menu %}
{% endblock %}

{% block content %}

    <div class="content">
      <div class="container">
        <div class="row row-project">
          <div class="col-project-name col-md-6  mt-5 mb-5 mb-md-0">
            <h1>Коврики из ПВХ</h1>
            <!--div class="social-list social-list-detail">
              <a href="" class="icon ion-social-twitter"></a>
              <a href="" class="icon ion-social-facebook"></a>
              <a href="" class="icon ion-social-googleplus"></a>
              <a href="" class="icon ion-social-linkedin"></a>
              <a href="" class="icon ion-social-dribbble-outline"></a>
            </div-->
          </div>
          <div class="col-project-info col-md-6">
            <div class="row">
              <div class="col-md-6 mt-5">
                <h5>ПВХ</h5>
                <p>Поливинилхлорид - абсолютно безопасный материал</p>
              </div>
              <div class="col-md-6 mt-5">
                <h5>Липкий</h5>
                <p>Данный коврик не скользит
                </p>
              </div>
              <div class="col-md-6 mt-5">
                <h5>Толщина 5 мм</h5>
                <p>Для спокойных, размеренных занятий</p>
              </div>
              <div class="col-md-6 mt-5">
                <h5>Бюджетный</h5>
                <p>Такие коврики стоят дешево</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img alt="" class="image-holder wow fadeIn" src="/static/ramsay-yokofit/images/yokofit/bg/yokofit-mat-1.jpg">
      <div class="container">
        <p class="project-detail-text text-justify">
            Коврик для йоги Green обладает стандартными характеристиками. Он идеально подойдет для новичков в йоге.

            Материал коврика - ПВХ. Он гибкий, не скользкий, достаточно мягкий и абсолютно безопасный.

            В комплекте идет чехол для переноски.
        </p>
        <p class="project-detail-text text-center">Размеры коврика 173 на 60 см. Толщина 5 мм.</p>
        <img alt="" class="image-holder wow fadeInRight" src="/static/ramsay-yokofit/images/yokofit/bg/yokofit-mat-3.jpg">
        <p class="project-detail-text text-center">
            <a href="https://www.ozon.ru/context/detail/id/175620135/?partner=yokofit&from=yokofit" class="btn btn-ozon" target="_blank" rel="nofollow">Купить на Ozon</a>
            <!--a href="#" class="btn btn-wb" target="_blank" rel="nofollow">Купить на Wildberries</a-->
        </p>

       </div>
      </div>
    </div>
{% endblock %}