{% extends 'ramsay-yokofit/wrapper.html' %}

{% block content %}
    <div class="copy-bottom white boxed">© YOKOFIT 2020</div>
    <!--div class="social-list social-list-bottom boxed">
        <a href="" class="icon ion-social-twitter"></a>
        <a href="" class="icon ion-social-facebook"></a>
        <a href="" class="icon ion-social-googleplus"></a>
        <a href="" class="icon ion-social-linkedin"></a>
        <a href="" class="icon ion-social-dribbble-outline"></a>
    </div-->
    <div class="pagepiling">
      <div data-anchor="page1" class="pp-scrollable text-white section section-1">
        <div class="scroll-wrap">
          <div class="section-bg" style="background-image:url(images/bg/project1.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-centred v2">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="project-detail-row">
                        <a class="" href="project-detail.html">
                          <span class="project-number">01</span>
                          <h2 class="project-title">Abstract Skat</h2>
                          <div class="project-category">Illustration</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-anchor="page2" class="pp-scrollable text-white section section-2">
        <div class="scroll-wrap">
          <div class="section-bg" style="background-image:url(images/bg/project2.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-centred v2">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="project-detail-row">
                        <a href="project-detail.html">
                          <span class="project-number">02</span>
                          <h2 class="project-title">Borato Prism</h2>
                          <div class="project-category">Branding</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-anchor="page3" class="pp-scrollable text-white section section-3">
        <div class="scroll-wrap">
          <div class="section-bg" style="background-image:url(images/bg/project3.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-centred v2">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="project-detail-row">
                        <a href="project-detail.html">
                          <span class="project-number">03</span>
                          <h2 class="project-title">Brole Mobile App</h2>
                          <div class="project-category">Mobile Design</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-anchor="page4" class="pp-scrollable text-white section section-4">
        <div class="scroll-wrap">
          <div class="section-bg" style="background-image:url(images/bg/project4.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-centred v2">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="project-detail-row">
                        <a href="project-detail.html">
                          <span class="project-number">04</span>
                          <h2 class="project-title">Bauhaus Studio</h2>
                          <div class="project-category">House Design</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-anchor="page5" class="pp-scrollable text-white section section-5">
        <div class="scroll-wrap">
          <div class="section-bg" style="background-image:url(images/bg/project5.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-centred v2">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="project-detail-row">
                        <a href="project-detail.html">
                          <span class="project-number">05</span>
                          <h2 class="project-title">Riding Bicycle </h2>
                          <div class="project-category">Illustration</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-anchor="page6" class="pp-scrollable text-white section section-6">
        <div class="scroll-wrap">
          <div class="section-bg" style="background-image:url(images/bg/project6.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-centred v2">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="project-detail-row">
                        <a href="project-detail.html">
                          <span class="project-number">06</span>
                          <h2 class="project-title">Android App</h2>
                          <div class="project-category">Mobile Design</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-anchor="page7" class="pp-scrollable text-white section section-7">
        <div class="scroll-wrap">
          <div class="section-bg" style="background-image:url(images/bg/project7.jpg);"></div>
          <div class="scrollable-content">
            <div class="vertical-centred v2">
              <div class="boxed boxed-inner">
                <div class="boxed">
                  <div class="container">
                    <div class="intro">
                      <div class="project-detail-row">
                        <a href="project-detail.html">
                          <span class="project-number">07</span>
                          <h2 class="project-title">Coffee breakfast</h2>
                          <div class="project-category">Design</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- jQuery -->

{% endblock %}