{% extends 'ramsay-yokofit/wrapper.html' %}

{% block menu %}
{% endblock %}

{% block content %}

    <div class="content">
      <div class="container">
        <div class="row row-project">
          <div class="col-project-name col-md-6  mt-5 mb-5 mb-md-0">
            <h1>Ролики для фитнеса</h1>
            <!--div class="social-list social-list-detail">
              <a href="" class="icon ion-social-twitter"></a>
              <a href="" class="icon ion-social-facebook"></a>
              <a href="" class="icon ion-social-googleplus"></a>
              <a href="" class="icon ion-social-linkedin"></a>
              <a href="" class="icon ion-social-dribbble-outline"></a>
            </div-->
          </div>
          <div class="col-project-info col-md-6">
            <div class="row">
              <div class="col-md-6 mt-5">
                <h5>PVC</h5>
                <p>Экологически чистый гипоалергенный материал</p>
              </div>
              <div class="col-md-6 mt-5">
                <h5>Липкий</h5>
                <p>Данный коврик очень липкий
                </p>
              </div>
              <div class="col-md-6 mt-5">
                <h5>Толщина 4 мм</h5>
                <p>Для спокойных, размеренных занятий</p>
              </div>
              <div class="col-md-6 mt-5">
                <h5>Бюджетный</h5>
                <p>Такие коврики стоят дешево</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img alt="" class="image-holder wow fadeIn" src="/static/ramsay-yokofit/images/bg/project3.jpg">
      <div class="container">
        <p class="project-detail-text text-justify"></a>
        </p>
        <p class="project-detail-text text-center">Размеры коврика 183 на 61 см. Толщина 4 мм. Коврик можно приобрести в 2 расцветках.</p>
        <img alt="" class="image-holder wow fadeInRight" src="/static/ramsay-yokofit/images/bg/project3-2.jpg">
        <p class="project-detail-text text-center"><a href="#" class="btn btn-ozon">Купить на Ozon</a> <a href="#" class="btn btn-wb">Купить на Wildberries</a></p>

       </div>
      </div>
    </div>
{% endblock %}