<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons -->
<link rel="shortcut icon" href="/static/ramsay-yokofit/favicon.png">
<link rel="apple-touch-icon" href="/static/ramsay-yokofit/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/ramsay-yokofit/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/ramsay-yokofit/apple-touch-icon-114x114.png">

<title>YOKOFIT - коврики для фитнеса и йоги</title> 

<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400i&display=swap" rel="stylesheet">
<link href="/static/ramsay-yokofit/css/style.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="animsition">   
    <!--div class="loader"><div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div></div-->

    <!-- Content CLick Capture-->

    <!--div class="click-capture"></div-->

    {% block menu %}
    <!-- Sidebar Menu-->
    <div class="menu"> 
      <span class="close-menu icon-cross2 right-boxed"></span>
      <ul class="menu-list right-boxed">
        <li  data-menuanchor="page1">
          <a  href="#page1">Старт</a>
        </li>
        <li  data-menuanchor="page2">
          <a href="#page2">Продукция</a>
        </li>
        <li  data-menuanchor="page3">
          <a href="#page3">Коврики</a>
        </li>
        <li  data-menuanchor="page4">
          <a href="#page4">Ролики</a>
        </li>
        <li  data-menuanchor="page5">
          <a href="#page5">Резинки</a>
        </li>
      </ul>
      <!--div class="menu-footer right-boxed">
        <div class="social-list">
          <a href="" class="icon ion-social-twitter"></a>
          <a href="" class="icon ion-social-facebook"></a>
          <a href="" class="icon ion-social-googleplus"></a>
          <a href="" class="icon ion-social-linkedin"></a>
          <a href="" class="icon ion-social-dribbble-outline"></a>
        </div>
        <div class="copy">© YOKOFIT 2020. All Rights Reseverd</div>
      </div-->
    </div>

    <!-- Navbar -->
    {% endblock %}

    <header class="navbar navbar-fullpage boxed">
      <div class="navbar-bg"></div>
      <a class="brand" href="/">
        <!--img alt="" src="/static/ramsay-yokofit/images/brand.png"-->
        <div class="brand-info">
          <div class="brand-name">YOKOFIT</div>
        </div>
      </a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <div class="contacts d-none d-md-block">
        <!--div class="contact-item">
          +7(926)527-58-80
        </div>
        <div class="contact-item spacer">
          /
        </div-->
        <div class="contact-item">
          <a href="mailto:info@yokofit.ru">info@yokofit.ru</a>
        </div>
      </div>
    </header>
    {% block content %}
    {% endblock %}

<script src="/static/ramsay-yokofit/js/jquery.min.js"></script>
<script src="/static/ramsay-yokofit/js/wow.min.js"></script>
<script src="/static/ramsay-yokofit/js/smoothscroll.js"></script>
<script src="/static/ramsay-yokofit/js/animsition.js"></script>
<script src="/static/ramsay-yokofit/js/jquery.validate.min.js"></script>
<script src="/static/ramsay-yokofit/js/jquery.magnific-popup.min.js"></script>
<script src="/static/ramsay-yokofit/js/owl.carousel.min.js"></script>
<script src="/static/ramsay-yokofit/js/jquery.pagepiling.min.js"></script>

<!-- Scripts -->
<script src="/static/ramsay-yokofit/js/scripts.js"></script> 
{% if not preview %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        var yaParams = {};
        {% if creative %}
            yaParams["creative_id"] = "{{creative.id}}";
        {% endif %}
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounterMain = new Ya.Metrika({
                    id:{% if host.domain == 'yokofit.ru' %}62555947{% else %}44839867{% endif %},
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    ecommerce:"dataLayer",
                    params: yaParams
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/{% if host.domain == 'yokofit.ru' %}62555947{% else %}44839867{% endif %}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endif %}
</body>
</html>