{# Заголовок #}
{# Телефон #}
{# Логотип #}
{# Общее описание #}
{# Видеоролик #}
{# Краткая дополнительная инфа #}

{# Товары #}
{# Название #}
{# Цена продажы #}
{# Цена до скидки #}
{# Цена с доставкой после скидки #}
{# Главная картинка #}
{# Вторая картинка #}
{# Остальные картинки #}
{# Краткое описание #}
{# Полное описание #}
{# Список характеристик #}

{% extends 'chair/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
{% autoescape off %}
    <section id="home-slider">
        <div class="container animate-in">
            {% if page.title %}
                <div class="row">
                    <div class="col-sm-12">
                        <h1>{{page.title}}</h1>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                {% if page.left_html and page.right_html %}
                    <div class="col-sm-6">
                        {{page.left_html}}
                    </div>
                    <div class="col-sm-6">
                        {{page.right_html}}
                    </div>
                {% else %}
                    {% if page.left_html %}
                        <div class="col-sm-12">
                            {{page.left_html}}
                        </div>
                    {% endif %}
                    {% if page.right_html %}
                        <div class="col-sm-12">
                            {{page.right_html}}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->
    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            {{page.action1_html}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <section style="height:50px"></section>

    {% if smart.sections_order %}
        {% for section in smart.sections_order %}
            {% with "chair/sections/"|add:section|add:".html" as template %}
                {% include template %}
            {% endwith %}
        {% endfor %}
    {% else %}
        {% include "chair/sections/services.html" %}
        {% include "chair/sections/action.html" %}
        {% include "chair/sections/features.html" %}
    {% endif %}

    <section id="related-work" class="padding-top padding-bottom">
        <div class="container">
            <div class="row">
                <h1 class="title text-center">Немного фотографий!</h1>
                {% for child in children %}
                    {% for image_url in child.product.image_urls %}
                        <div class="col-sm-3">
                            <div class="portfolio-wrapper">
                                <div class="portfolio-single">
                                    <div class="portfolio-thumb">
                                        <img src="{{image_url}}" class="img-responsive" alt="">
                                    </div>
                                    <div class="portfolio-view">
                                        <ul class="nav nav-pills">
                                            <li><a href="{{image_url}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="portfolio-info ">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="price-two">
                <a href="#prices" class="btn btn-buynow btn-hightlight">Заказать прямо сейчас</a>
            </div>
        </div>
    </section>
{% endautoescape %}
{% endblock %}