{% extends 'track1/base.html' %}
{% block content %}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
         <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Видеоролики</h1>
                        <p>Примеры увлекательной игры в машинки на гибкий треках</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div id="video-container">
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <h2>Обзор гибкого трека Большое путешествие</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hS59ALaTu6w?rel=0" frameborder="0" allowfullscreen class="youtube-video"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <h2>Описание гибкого трека Пожарная станция</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BNQYH-L6Jj0?rel=0" frameborder="0" allowfullscreen class="youtube-video"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <h2>Обзор гибкого трека Большое путешествие</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/W1yAkbio31M?rel=0" frameborder="0" allowfullscreen class="youtube-video"></iframe>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 50px;">
        <h1><center>Нравится?</center></h1>
        <div class="price-two">
            <a href="/#services" class="btn btn-buynow btn-hightlight">Закажите прямо сейчас</a>
        </div>
    </div>
</div>
{% endblock %}