{% extends 'triangle/base.html' %}
{% load static %}
{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Джунгарский хомячок</h1>
                            <p>Описание и уход.</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
				<p>Хомяк, как сказал один известный человек, - личность. Джунгарский хомяки очень маленькие и милые. Обычно восторгу девушек и детей, когда они видят джунгарика, нет предела.</p>
				<h3>Уход за джунгарским хомячком</h3>
				<ul class="elements">
					<li><i class="fa fa-angle-right"></i> полноценное питание (корм для хомяков. Из продуктов: сушёные кукурузные початки, специальные фруктовые смеси, семена подсолнечника, тыквы, горох или фасоль, белок варёного яйца, варёная куриная грудка без специй, гаммарус, салат, цуккини);</li>
					<li><i class="fa fa-angle-right"></i> небольшой запас питьевой воды (джунгарские хомячки редко пьют воду из-за особенностей их происхождения (в пустыне трудно достать воду), но поилка всегда должна быть со свежей водичкой);</li>
					<li><i class="fa fa-angle-right"></i> чистка клетки (не чаще раза в неделю);</li>
					<li><i class="fa fa-angle-right"></i> чистка шерсти спец. песком для шиншилл (купание в воде может повредить здоровью джунгарского хомячка);</li>
					<li><i class="fa fa-angle-right"></i> поддержание физической формы хомячка (колесо от 17-20 сантиметров в диаметре, со сплошной беговой поверхностью — прутья и сетка травмоопасны);</li>
					<li><i class="fa fa-angle-right"></i> клетка для джунгарского хомяка не может быть меньше 2400 см кв по площади дна (например 60х40 см).</li>
				</ul>
				<p>Не рекомендуется содержать больше одного хомячка в одной клетке, так как эти хомячки очень территориальны и в замкнутом пространстве проявляют агрессию друг к другу. При совместном содержании джунгарские хомячки живут в состоянии перманентного стресса, а в драках могут травмировать друг друга вплоть до убийства.</p>

				<p>Клетка для джунгарского хомячка должна быть достаточно просторной, поскольку зверьки очень подвижны. Также джунгарскому хомяку необходимы веточки плодовых деревьев для стачивания зубов. При кормлении джунгарских хомячков необходимо учитывать то, что они должны получать достаточное количество витаминов из фруктов и овощей. Нередко исключив их из рациона хомяк получает авитаминоз.</p>

				<h3>Описание джунгарского хомячка</h3>
				<p>Рост до 10 см, вес от 35 до 65 граммов, живут в среднем 2-3 года. В благоприятных условиях могут дожить до 4 лет. Данный вид грызунов имеет покрытые волосами ступни, тёмную полосу на спине (обычно серая), очень короткий хвост (часто его практически не видно, когда зверёк сидит). Мех отличается значительными белыми вкраплениями.</p>


				<p>Джунгарские хомячки имеют различия в окраске. У всех джунгарских хомячков есть узкая тёмная полоска на спине. Различают следующие виды окраски:</p>
				<ul class="elements">
					<li><i class="fa fa-angle-right"></i> стандарт (коричневато-серая, брюшко белое),</li>
					<li><i class="fa fa-angle-right"></i> сапфир (серо-синеватая, брюшко белое),</li>
					<li><i class="fa fa-angle-right"></i> жемчуг (матово-белая с серыми промежутками),</li>
					<li><i class="fa fa-angle-right"></i> мандарин (рыже-кремовая).</li>
				</ul>

				<p>Хомячки обладают сезонной адаптацией: зимой они линяют, и их мех становится практически полностью белым (серые вкрапления исчезают, остаётся лишь полоса на спине). Линька во многом зависит от светового режима дня: при короткой продолжительности дня хомячок меняет окраску за 6 недель. Этот процесс обусловлен выработкой мелатонина (гормона шишковидной железы). Продолжительность жизни домашнего джунгарского хомячка — 1-3 года, хотя при правильном уходе могут жить несколько дольше.</p>
            </div>
        </div>
    </section>
{% endblock %}