<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}Подарочные наборы, состоящие из джунгарского хомячка, клетки и всего необходимого для жизни. А так же подробная инструкция по уходу за хомячком.{% endblock %}">
    <meta name="author" content="">
    <title>{% block meta_title %}Домик хомячка. Джунгарские хомячки в домиках{% endblock %}</title>
    <script>var sessionid = "{{ request.session.session_key }}", impression_id = "{{ statistics.impression_id }}";</script>

    <link href="{% static "triangle/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "triangle/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "triangle/css/animate.min.css" %}" rel="stylesheet"> 
    <link href="{% static "triangle/css/lightbox.css" %}" rel="stylesheet"> 
	<link href="{% static "triangle/css/main.css" %}" rel="stylesheet">
	<link href="{% static "triangle/css/responsive.css" %}" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static "triangle/images/favicon/favicon.ico" %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "triangle/images/favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "triangle/images/favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "triangle/images/favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "triangle/images/favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "triangle/images/favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "triangle/images/favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "triangle/images/favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "triangle/images/favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "triangle/images/favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "triangle/images/favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "triangle/images/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "triangle/images/favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "triangle/images/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "triangle/images/favicon/manifest.json" %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "triangle/images/favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "triangle/images/favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "triangle/images/favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "triangle/images/favicon/apple-icon-57x57.png" %}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "triangle/images/favicon/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">

</head><!--/head-->

<body>
	<header id="header">      
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/" data-referer-button="logo">
                        <h1><img src="{% static "triangle/images/hamster/logo_on_transparent_286x64.png" %}" alt="logo"></h1>
                    </a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{%if page.url == ''%}active{%endif%}"><a href="/" data-referer-button="menu-main">Джунгарсие хомячки</a></li>
                        <li class="{%if page.url == 'about.html'%}active{%endif%}"><a href="/about.html" data-referer-button="menu-about">Описание и уход</a>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->
    {% block content %}{% endblock %}

    <script type="text/javascript" src="{% static "triangle/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "triangle/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "triangle/js/lightbox.min.js" %}"></script>
    <script type="text/javascript" src="{% static "triangle/js/jquery.mask.js" %}"></script>
    <script type="text/javascript" src="{% static "triangle/js/wow.min.js" %}"></script>
    <script type="text/javascript" src="{% static "triangle/js/main.js" %}"></script>   
</body>
</html>
