{% extends 'triangle/base.html' %}
{% load static %}
{% block content %}
    <section id="home-slider">
        <div class="container animate-in">
            <div class="row">
                <div class="col-sm-5">
                    <h1>{% if smart.slider_title %}{{ smart.slider_title|safe }}{% else %}Подарите себе или любимым милого хомячка{%endif%}</h1>
                    <p><strong>Джунгарский хомячок</strong> – очень милое и интересное создание. Таких хомячков <strong>любят почти все</strong>! Ведь он маленький, пушистый и с ним можно играть.</p>
                    <p>Хомячок может быть прекрасным подарком как <strong>любимой девушке</strong>, так и ребенку, бабушке, маме, подруге и даже парню. Хотя с парнем, я бы не рисковал...</p>
                    <p>Хомячки живут в клетке. Поэтому они не портят мебель как собачки или кошечки и не гадят где попало. Их не нужно выгуливать. Хомячков невозможно перекормить как рыбок.</p>
                    <p><strong>Джунгарские хомячки</strong> в приличных магазинах стоят не дороже 200 рублей.</p>
                    <p>Весь набор положителных эмоций <strong>с доставкой</strong> вам обойдется <strong>совсем недорого</strong> – всего от 2250 рублей. Дешевле велосипеда, собачки или даже кошечки.</p>
                </div>
                <div class="col-sm-7">
                    <div style="height:450px;position:relative">
                        <img src="{% static "triangle/images/hamster/slider-hamster.jpg" %}" class="slider-hill" alt="slider image" width="500">
                        <img src="{% static "triangle/images/home/slider/house.png" %}" class="slider-house" alt="slider image">
                        <img src="{% static "triangle/images/home/slider/sun.png" %}" class="slider-sun" alt="slider image">
                        <img src="{% static "triangle/images/home/slider/birds1.png" %}" class="slider-birds1" alt="slider image">
                        <img src="{% static "triangle/images/home/slider/birds2.png" %}" class="slider-birds2" alt="slider image">
                    </div>
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->
    <section style="height:50px"></section>

    {% if smart.sections_order %}
        {% for section in smart.sections_order %}
            {% with "triangle/sections/"|add:section|add:".html" as template %}
                {% include template %}
            {% endwith %}
        {% endfor %}
    {% else %}
        {% include "triangle/sections/services.html" %}
        {% include "triangle/sections/action.html" %}
        {% include "triangle/sections/features.html" %}
    {% endif %}

    <section id="related-work" class="padding-top padding-bottom">
        <div class="container">
            <div class="row">
                <h1 class="title text-center">Посмотрите, какие они милые!</h1>
                <div class="col-sm-3">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static "triangle/images/hamster/Hamster1.jpg" %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static "triangle/images/hamster/Hamster1.jpg" %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static "triangle/images/hamster/Hamster2.jpg" %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static "triangle/images/hamster/Hamster2.jpg" %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static "triangle/images/hamster/Hamster4.jpg" %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static "triangle/images/hamster/Hamster4.jpg" %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static "triangle/images/hamster/Hamster3.jpg" %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static "triangle/images/hamster/Hamster3.jpg" %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static "triangle/images/hamster/Hamster5.jpg" %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static "triangle/images/hamster/Hamster5.jpg" %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static "triangle/images/hamster/Hamster6.jpg" %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static "triangle/images/hamster/Hamster6.jpg" %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static "triangle/images/hamster/Hamster7.jpg" %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static "triangle/images/hamster/Hamster7.jpg" %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static "triangle/images/hamster/Hamster8.jpg" %}" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a href="{% static "triangle/images/hamster/Hamster8.jpg" %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}