{% load static %}
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static "yokofit/images/yokofit/lotos-light-0.jpg" %}" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Lotos Light</h2>
                        <P>Легкий классический коврик, выполненный из термопластичного эластомера (TPE), предназначен для занятий йогой и фитнесом. Высококачественный материал обладает гипоалергенными свойствами и практически не имеет неприятного запаха.</P>
                        <P>Коврик Lotos Light двухцветный. Обе поверхности рабочие. Их можно чередовать в зависимости от настроения.</P>

                        <!--p>Сцепление у коврика Lotos Light просто потрясающее - специально разработанный рисунок позволяет абсорбировать влагу и противостоит скольжению.</p>

                        <p>Вес коврика всего 900 грамм. Это один из самых легких ковриков в России. А стандартная толщина 4мм позволяет использовать данный коврик как для статики, так и для динамики. Он универсален и даст возможность менять стиль вашей практики, не меняя коврик!</P-->
                        <ul class="elements">
                            <li><i class="fa fa-angle-right"></i>Толщина 4 мм</li>
                            <li><i class="fa fa-angle-right"></i>Размер: 183х60 см</li>
                            <li><i class="fa fa-angle-right"></i>Цвет: фиолетовый с желтым</li>
                        </ul>
                        <a href="https://www.ozon.ru/context/detail/id/174854111/?partner=yokofit&from=yokofit&utm_source=yokofit" class="btn btn-common" data-referer-button="4" target="_blank" rel="nofollow">Купить на Ozon</a>
                        <!--a href="/offer-1.html" class="btn btn-common" data-referer-button="4">Купить этот набор</a-->
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Blue</h2>
                        <P>Простой и недорогой коврик подойдет для различного вида тренировок. Легкий с нескользящей поверхностью. Коврик поставляется в комплекте с чехлом.</P>
                        <ul class="elements">
                            <li><i class="fa fa-angle-right"></i>Толщина 4 мм</li>
                            <li><i class="fa fa-angle-right"></i>Размер: 173х60 см</li>
                            <li><i class="fa fa-angle-right"></i>Цвет: голубой с рисунком</li>
                        </ul>
                        <a href="https://www.ozon.ru/context/detail/id/174854114/?partner=yokofit&from=yokofit&utm_source=yokofit" class="btn btn-common" data-referer-button="4" target="_blank" rel="nofollow">Купить на Ozon</a>
                        <!--a href="/offer-2.html" class="btn btn-common" data-referer-button="5">Купить этот набор</a-->
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static "yokofit/images/yokofit/blue-0.jpg" %}" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static "yokofit/images/yokofit/yokofit-balance-beige-0.jpg" %}" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Balance</h2>
                        <P>Коврик YOKOFIT Balance подходит как для йоги, так и для фитнеса. Изготовлен из термопластичного эластомера. Гипоалергенен. Более мягкий за счет толщины в 6 мм.</P>
                        <ul class="elements">
                            <li><i class="fa fa-angle-right"></i>Толщина 6 мм</li>
                            <li><i class="fa fa-angle-right"></i>Размер: 173х60 см</li>
                            <li><i class="fa fa-angle-right"></i>Цвет: бежевый</li>
                        </ul>
                        <!--a href="/offer-3.html" class="btn btn-common" data-referer-button="6">Купить этот набор</a-->
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--/#features-->