<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}Игровые наборы Гибкий трек.{% endblock %}">
    <meta name="author" content="">
    <title>{% block meta_title %}Гибкие треки{% endblock %}</title>
    <script>var sessionid = "{{ request.session.session_key }}", impression_id = "{{ statistics.impression_id }}";</script>

    <link href="{% static "track1/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "track1/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "track1/css/animate.min.css" %}" rel="stylesheet"> 
    <link href="{% static "track1/css/lightbox.css" %}" rel="stylesheet"> 
	<link href="{% static "track1/css/main.css" %}" rel="stylesheet">
	<link href="{% static "track1/css/responsive.css" %}" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static "track1/images/favicon/favicon.ico" %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "track1/images/favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "track1/images/favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "track1/images/favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "track1/images/favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "track1/images/favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "track1/images/favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "track1/images/favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "track1/images/favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "track1/images/favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "track1/images/favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "track1/images/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "track1/images/favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "track1/images/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "track1/images/favicon/manifest.json" %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "track1/images/favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "track1/images/favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "track1/images/favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "track1/images/favicon/apple-icon-57x57.png" %}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "track1/images/favicon/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">

</head><!--/head-->

<body>
	<header id="header">      
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/" data-referer-button="logo">
                        <h1><img height="64" src="{% static "track1/images/track1/logo_on_transparent_442x63.png" %}" alt="logo" class="logo"></h1>
                    </a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="tel:+7(977)130-48-95" style="font-size: 16px;padding-top: 18px;">+7(977)130-48-95</a></li>
                        <li class="{%if page.url == ''%}active{%endif%}"><a href="/" data-referer-button="menu-main">Гибкие треки</a></li>
                        <li class="{%if page.url == 'about.html'%}active{%endif%}"><a href="/video.html" data-referer-button="menu-about">Видеоролики</a>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->
    {% block content %}{% endblock %}

    <script type="text/javascript" src="{% static "track1/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "track1/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "track1/js/lightbox.min.js" %}"></script>
    <script type="text/javascript" src="{% static "track1/js/jquery.mask.js" %}"></script>
    <script type="text/javascript" src="{% static "track1/js/wow.min.js" %}"></script>
    <script type="text/javascript" src="{% static "track1/js/main.js" %}"></script>
    {% if not preview %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            var yaParams = {};
            {% if creative %}
                yaParams["creative_id"] = "{{creative.id}}";
            {% endif %}
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounterMain = new Ya.Metrika({
                        id:{% if host.domain == 'track.worldmaker.ru' %}46616838{% else %}44839867{% endif %},
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true,
                        ecommerce:"dataLayer",
                        params: yaParams
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/{% if host.domain == 'hamsterhouse.ru' %}44839840{% else %}44839867{% endif %}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    {% endif %}
</body>
</html>
