{% load static %}
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static "triangle/images/hamster/1-kredo-mini-all.jpg" %}" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Скромная квартирка</h2>
                        <P>Размер клетки 35,5х26,6х27,5см. Жилье скромное, но уютное. Здесь есть все необходимое для проживания вашего хомячка: домик, площадка второго этажа, кормушка, автопоилка, винтовой спуск, небольшое колесо.</P>
                        <ul class="elements">
                            <li><i class="fa fa-angle-right"></i>Прутья клетки не гнутся, не облупляются и не гремят</li>
                            <li><i class="fa fa-angle-right"></i>Пластиковый поддон легко очищается</li>
                            <li><i class="fa fa-angle-right"></i>Ручка на крыше клетки удобна для перемещения в случае необходимости</li>
                        </ul>
                        <a href="/offer-1.html" class="btn btn-common" data-referer-button="4">Купить этот набор</a>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Однокомнатные апартаменты среднего класса</h2>
                        <P>Эта итальянская клетка размером 40,5*29,5*22,5см будет не только комфортным местом обитания, но и не создаст трудностей в обсуживании. Здесь Ваш хомячок будет чувствовать себя в безопасности и всегда сможет спрятаться в домике. Большое колесо поможет постоянно поддерживать хорошую физическую форму.</P>
                        <P>В конструкции клетки предусмотрена возможность досбавления комнат и туннелей.</P>
                        <a href="/offer-2.html" class="btn btn-common" data-referer-button="5">Купить этот набор</a>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static "triangle/images/hamster/2-ferplast-ombi-01-all2.jpg" %}" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static "triangle/images/hamster/3-ferplast-combi-2.2-all.jpg" %}" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Апартаменты со спортзалом</h2>
                        <P>Клетка состоит из однокомнатных апартаментов и спортзала, присоединенного с помощью небольшого тоннеля. В данной конфигурации колесо находится в отдельной комнате и не мещает повседневной жизни Вашего питомца.</P>
                        <P>И как только стемнеет, хомячок просыпается и бежит в спортзал через тоннель, напоминающий ему норку. В спортзале так же есть небольшой домик, где Ваш хомячок будет очень отдыхать от длительных пробежек.</P>
                        <P>В конструкции клетки предусмотрена возможность досбавления комнат и туннелей.</P>
                        <a href="/offer-3.html" class="btn btn-common" data-referer-button="6">Купить этот набор</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--/#features-->