{% load static %}
    <section id="features">
        <div class="container">
            <div class="row">
                {% for child in children %}
                <div class="single-features">
                    {% if child.parameters.feature_position == 'right' %}
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>{{child.product.title}}</h2>
                        {{child.product.description}}
                        <a href="/{{child.url}}" class="btn btn-common" data-referer-button="5">Купить этот набор</a>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{{child.product.second_image_url | default:child.product.main_image_url}}" class="img-responsive" alt="">
                    </div>
                    {% else %}
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{{child.product.second_image_url | default:child.product.main_image_url}}" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>{{child.product.title}}</h2>
                        {{child.product.description}}
                        <a href="/{{child.url}}" class="btn btn-common" data-referer-button="6">Купить этот набор</a>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
     <!--/#features-->